.container {
    display: flex;
    background-color: black;
    height: 65vh;
    width: 26vh;
    flex-direction: column;
    border-radius: 0px 5px 5px 00px;
    border: 5px solid black
}

.container span {
    font-size: 6vh;
    align-self: center;
    padding: 5px;
    background-color: black;
    color: red;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
}

.timerButtons {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.timerButtonsLeft {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 50%;
}

.timerButtonsRight {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 50%;
}

.timerButtons button {
    width: 100%;
    aspect-ratio: 1;
    font-family: 'Belanosima', sans-serif;
    font-size: 5vh;
}

.startStopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/1;
    font-family: 'Belanosima', sans-serif;
    font-size: 5vh;
}

.volumeRange {
    display: flex;
    flex-direction: column;
    height: 5vh;
    color: white;
    justify-content: center;
    font-family: 'Belanosima', sans-serif;
}

